 /*@page { size: A3 Portrait }*/
  .Billheader{
      padding: 20px;
      /* border: 1px solid black; */
  }
  .Billimg{
    height:50px;
  }
  .Billcolumn {
    float: left;
    padding: 10px;
  }
  
  .Billcolumn.left {
    width: 33.3%;
    text-align: left;
    
  }
  
  .Billcolumn.middle {
    width: 33.3%;
    text-align: center;
    
  }
  .Billcolumn.right {
    width: 33.3%;
    text-align: right;
    
  }
  .Billtable{
    border-top: 0px solid #ddd !important;
    
    text-align: left;
  }
  .Billnew{
    margin-top: 20px;
    padding: 5px;
    padding-left: 15px;
    /* height:1000px; */
    margin-left: 30px;
    border: 1px solid black;
    border-style: dotted;
      width:35vw;
  }
  .billRow > td{
    padding: 5px 3.1vw;
    text-align: right;
    
  }
  .billRowTtl > td{
    padding: 5px 3.1vw;
    text-align: right;
  }
  .Billnet{
    text-align: right;
   
  }
  .Billnet > h4 > span
  {
   margin-left: 42px;
   font-size: 100%;
  }
   /* .billRow.border{
   padding-left:100px; 
    border-bottom: 1px solid black;
  }  */
  /* @media print {
   
      height:1000px;
      width:330px;
    
  } */
  .Billhr{
    border: .5px solid black;
  }
  .Billdiv{
    
      font-family: monospace;
      font-size: 100%;
  
  }
  @page { size: A3 }
  
  .table > tbody > tr > .no-line {
    border-top: none;
  }
  
  .table > thead > tr > .no-line {
    border-bottom: none;
  }
  
  .table > tbody > tr > .thick-line {
    border-top: 2px solid !important;
  }
  .Billsign{
    text-align: center;
    margin-left: 300px !important;
  }
  .Billkot
  {
    text-align: left;
  }